<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
	<script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
	<script type="module">
		import '../../button/button.js';
		import '../../colors/colors.js';
		import '../../demo/demo-page.js';
		import '../../inputs/input-text.js';
		import '../../hierarchical-view/hierarchical-view.js';
		import '../tooltip.js';
		import './button.js';
		import '../../link/link.js';
		import '../../expand-collapse/expand-collapse-content.js';
	</script>
	<style>
		.slide {
			position: relative;
			box-sizing: border-box;
			padding-left: 50px;
			padding-right: 50px;
		}

		.announce-section {
			padding-top: 25px;
			padding-bottom: 25px;
		}
	</style>
</head>

<body unresolved>

	<div id="slide-8" class="slide">
		<h2>Add relevant interactive roles to your static or custom elements</h2>
		<d2l-demo-snippet>
			<template>
				<div tabindex="0" role="checkbox" id="example-7">Static element</div>
				<d2l-tooltip for="example-7">Tooltip message</d2l-tooltip>
			</template>
		</d2l-demo-snippet>
		<div class="announce-section">
			<d2l-button class="announce">What gets announced?</d2l-button>
			<d2l-expand-collapse-content class="announce-content">
				<ul>
					<li>NVDA - Static element&nbsp;&nbsp;&nbsp;checkbox&nbsp;&nbsp;&nbsp;not checked&nbsp;&nbsp;&nbsp;Tooltip message</li>
					<li>JAWS - Static element&nbsp;&nbsp;&nbsp;checkbox&nbsp;&nbsp;&nbsp;not checked&nbsp;&nbsp;&nbsp;Tooltip message</li>
					<li>VoiceOver - Static element&nbsp;&nbsp;&nbsp;unchecked&nbsp;&nbsp;&nbsp;checkbox&nbsp;&nbsp;&nbsp;Tooltip message</li>
				</ul>
			</d2l-expand-collapse-content>
			<script type="module">
				const button = document.querySelector('#slide-8 .announce');
				button.addEventListener('click', () => {
					const section = document.querySelector('#slide-8 .announce-content');
					section.expanded = !section.expanded;
					button.setAttribute('aria-expanded', section.expanded ? 'true' : 'false');
				});
			</script>
		</div>
		<d2l-link href="./slide-8.html">← Previous</d2l-link>&nbsp;/&nbsp;<d2l-link href="./slide-10.html">Next →
		</d2l-link>
	</div>

</body>

</html>
